# Imports and define functions

In [4]:
import os
import pandas as pd
import numpy as np
from time import time as now
from scipy.stats import chisquare

In [2]:
# Chi-Squared Percent Point Function
from scipy.stats import chi2
# define probability
p = 0.95
df = 1
# retrieve value <= probability
value = chi2.ppf(p, df)
print(value)   ## the critical value for later Chi2 merging

3.841458820694124

In [5]:
## completely YL DIY
def init_equal_frequency(x, bin_rate):  ## bin_rate < 1 means each bin has same proprtion (eg. 0.05) of all samples. 
                                        ## >1 means each bin has fixed number of samples
    if bin_rate > 1:     ## find the size of bin
        bin_size = int(bin_rate)
    else: 
        bin_size = int(bin_rate*len(x))
                
    sorted_x = x.sort_values()  ## sort the varibale for later binning
    sorted_x = sorted_x.reset_index(drop=True)
    
    bin_up=[]
    bin_low =[-np.inf]
    
    index=bin_size-1
    
    while index < len(sorted_x):         ## every bin_low is exclusive, bin_up is inclusive, interval like (low,up]
        bin_up.append(sorted_x[index])
        bin_low.append(sorted_x[index])
        index+=bin_size
    
    bin_low = bin_low[:-1]
    bin_up[-1]= np.inf
    result = pd.DataFrame({'bin_low':bin_low,'bin_up':bin_up})
    result.index.name = 'bin_num'
    
    return result

In [7]:
def mapping_bin(bin_data, original_data, label):
    var_name = original_data.columns[0]
    if var_name == label:
        var_name = original_data.columns[1]
    outputDF = original_data.copy()
    outputDF['bin'] = 0
    for index, row in bin_data.iterrows():
        outputDF.loc[(outputDF[var_name]>row.bin_low) & (outputDF[var_name]<=row.bin_up),'bin'] = index
    return outputDF

In [14]:
def calc_Chi_2(bin_data, original_data_mapped, label):
    # bin_data is the output from initialisation (same frequency or same distance)
    # original_data_mapped should have 3 columns, just the X var and Y label, + mapping output
    
#     var_name = original_data_mapped.columns[0]
#     if var_name == label:
#         var_name = original_data_mapped.columns[1]   < ---- might not need
    total_bad = len(original_data_mapped.loc[original_data_mapped[label]==1])
    total_good = len(original_data_mapped.loc[original_data_mapped[label]==0])

    
    df = pd.DataFrame(columns = ["bin_low","bin_up","sample_count","bad_count","good_count","bad_count_exp","good_count_exp","Chi_2","Chi_2_if_merge"],index=bin_data.index)
    df.loc[:,['bin_low','bin_up']] = bin_data
    for index, row in df.iterrows():
        row.sample_count = len(original_data_mapped.loc[(original_data_mapped.bin == index)])
        row.bad_count = len(original_data_mapped.loc[(original_data_mapped.bin == index) & (original_data_mapped[label]==1)])
        row.good_count = len(original_data_mapped.loc[(original_data_mapped.bin == index) & (original_data_mapped[label]==0)])
        row.bad_count_exp = (row.sample_count)/len(original_data_mapped)*total_bad
        row.good_count_exp = (row.sample_count)/len(original_data_mapped)*total_good
        row.Chi_2 = chisquare([row.bad_count,row.good_count], f_exp=[row.bad_count_exp,row.good_count_exp])[0]
        if index>0:
            row.Chi_2_if_merge = row.Chi_2 + df.Chi_2[index-1]
    return df

# Sample runs

In [9]:
accept = pd.read_csv('Dataset/accepts.csv')
accept_sample = accept.loc[:,['bad_ind','msrp']]
accept_sample.shape

(5845, 2)

In [11]:
df = init_equal_frequency(accept_sample.msrp, 0.02)
df

         bin_low   bin_up
bin_num
0           -inf      0.0
1            0.0   5000.0
2         5000.0   6100.0
3         6100.0   7000.0
4         7000.0   7950.0
5         7950.0   8550.0
6         8550.0   9125.0
7         9125.0   9775.0
8         9775.0  10225.0
9        10225.0  10900.0
10       10900.0  11400.0
11       11400.0  11900.0
12       11900.0  12350.0
13       12350.0  12900.0
14       12900.0  13300.0
15       13300.0  13850.0
16       13850.0  14200.0
17       14200.0  14700.0
18       14700.0  15000.0
19       15000.0  15344.0
20       15344.0  15825.0
21       15825.0  16145.0
22       16145.0  16500.0
23       16500.0  17000.0
24       17000.0  17349.0
25       17349.0  17875.0
26       17875.0  18233.0
27       18233.0  18750.0
28       18750.0  19190.0
29       19190.0  19725.0
30       19725.0  20000.0
31       20000.0  20575.0
32       20575.0  21100.0
33       21100.0  21725.0
34       21725.0  22100.0
35       22100.0  22810.0
36       22810.0  23285.0
37       23285.0  23975.0
38       23975.0  24506.0
39       24506.0  25212.0
40       25212.0  26170.0
41       26170.0  27000.0
42       27000.0  27956.0
43       27956.0  28969.0
44       28969.0  30059.0
45       30059.0  31549.0
46       31549.0  33223.0
47       33223.0  35910.0
48       35910.0  39250.0
49       39250.0      inf

In [12]:
accept_sample_mapped = mapping_bin(df, accept_sample, 'bad_ind')
accept_sample_mapped

      bad_ind     msrp  bin
0           1  17350.0   25
1           0  19788.0   30
2           1  11450.0   11
3           1  12100.0   12
4           0  22024.0   34
...       ...      ...  ...
5840        0  31000.0   45
5841        0  22024.0   34
5842        0  18950.0   28
5843        0  28700.0   43
5844        0  20145.0   31

[5845 rows x 3 columns]

In [15]:
calc_Chi_2(df,accept_sample_mapped,'bad_ind')

,bin_low,bin_up,sample_count,bad_count,good_count,bad_count_exp,good_count_exp,Chi_2,Chi_2_if_merge
bin_num,,,,,,,,,
0,-inf,0,158,35,123,32.3569,125.643,0.271508,NaN
1,0,5000,81,18,63,16.588,64.412,0.15114,0.422648
2,5000,6100,110,26,84,22.5269,87.4731,0.673347,0.824487
3,6100,7000,129,30,99,26.418,102.582,0.610772,1.28412
4,7000,7950,104,24,80,21.2982,82.7018,0.431003,1.04178
5,7950,8550,117,24,93,23.9605,93.0395,8.19743e-05,0.431085
6,8550,9125,116,27,89,23.7557,92.2443,0.55718,0.557262
7,9125,9775,115,22,93,23.5509,91.4491,0.128433,0.685614
8,9775,10225,115,24,91,23.5509,91.4491,0.0107696,0.139203
9,10225,10900,118,30,88,24.1653,93.8347,1.77161,1.78238
10,10900,11400,117,33,84,23.9605,93.0395,4.28858,6.06019
11,11400,11900,114,32,82,23.3461,90.6539,4.03392,8.3225
12,11900,12350,118,36,82,24.1653,93.8347,7.28859,11.3225
13,12350,12900,113,33,80,23.1413,89.8587,5.28163,12.5702
14,12900,13300,119,20,99,24.3701,94.6299,0.985454,6.26709
15,13300,13850,113,26,87,23.1413,89.8587,0.444081,1.42954
16,13850,14200,122,21,101,24.9844,97.0156,0.799064,1.24315
17,14200,14700,114,32,82,23.3461,90.6539,4.03392,4.83298
18,14700,15000,143,42,101,29.285,113.715,6.9423,10.9762
19,15000,15344,85,24,61,17.4072,67.5928,3.14001,10.0823
20,15344,15825,118,24,94,24.1653,93.8347,0.00142139,3.14144
21,15825,16145,136,23,113,27.8515,108.149,1.06273,1.06415
22,16145,16500,111,20,91,22.7317,88.2683,0.412823,1.47555
23,16500,17000,134,26,108,27.4419,106.558,0.0952761,0.508099
24,17000,17349,81,16,65,16.588,64.412,0.0262128,0.121489
25,17349,17875,116,31,85,23.7557,92.2443,2.77808,2.80429
26,17875,18233,116,17,99,23.7557,92.2443,2.41596,5.19404
27,18233,18750,119,19,100,24.3701,94.6299,1.48806,3.90402
28,18750,19190,113,15,98,23.1413,89.8587,3.6018,5.08986
29,19190,19725,116,24,92,23.7557,92.2443,0.00315964,3.60496
30,19725,20000,118,24,94,24.1653,93.8347,0.00142139,0.00458103
31,20000,20575,115,30,85,23.5509,91.4491,2.2208,2.22222
32,20575,21100,118,21,97,24.1653,93.8347,0.521373,2.74217
33,21100,21725,113,23,90,23.1413,89.8587,0.00108523,0.522458
34,21725,22100,120,14,106,24.5749,95.4251,5.72237,5.72346
35,22100,22810,112,22,90,22.9365,89.0635,0.0480874,5.77046
36,22810,23285,117,23,94,23.9605,93.0395,0.0484171,0.0965045
37,23285,23975,115,18,97,23.5509,91.4491,1.64527,1.69369
38,23975,24506,116,22,94,23.7557,92.2443,0.163172,1.80844
39,24506,25212,116,21,95,23.7557,92.2443,0.401986,0.565158
40,25212,26170,116,17,99,23.7557,92.2443,2.41596,2.81795
41,26170,27000,119,22,97,24.3701,94.6299,0.289855,2.70582
42,27000,27956,113,23,90,23.1413,89.8587,0.00108523,0.29094
43,27956,28969,116,23,93,23.7557,92.2443,0.0302299,0.0313151
44,28969,30059,116,19,97,23.7557,92.2443,1.19723,1.22746
45,30059,31549,116,16,100,23.7557,92.2443,3.18414,4.38137
46,31549,33223,116,26,90,23.7557,92.2443,0.266635,3.45077
47,33223,35910,116,22,94,23.7557,92.2443,0.163172,0.429807
48,35910,39250,116,16,100,23.7557,92.2443,3.18414,3.34731
49,39250,inf,160,21,139,32.7665,127.234,5.3135,8.49764